#mainInfo{
    display: grid;    
    text-align: center;
}

figcaption{
    padding: 20px;
    width: fit-content;
    
}

#description{
    grid-column: 3 / 8;
    text-align: center;
}

#mainInfo{
    grid-column: 3 / 8;
    grid-row: 2 / 5;
}

/* our goals */

#stats{
    grid-column: 1 / 3;
    grid-row: 2 / 5;
}

#statsArticle{
    text-align: center;
}

.dates{
    color: #0075a3;
    text-align: center;
    font-size: x-large;
    padding: 30px 30px 30px 30px;
    display: inline-block;
    border: 1px solid #4aadff;
    border-radius: 5px;
    margin: 30px 30px 30px 30px;
    padding: 30px 30px 30px 30px;
}

.facts{
    padding: 20px;
    margin: 5px;
    font-size: large;
}


/* conclusion */

#conclusion{
    grid-column: 3 / 8;
    grid-row: 5 / 6;
}

/*images */
#goalimg{
    width: 100%;
    border-radius: 25px;
    border: 2px solid green;  
} 

#forest{
    width: 100%;
    border: 2px solid green;
    border-radius: 25px;
}


#tornado{
    width: 100%;
    border: 2px solid green;
    border-radius: 25px;

}

/*subheading */

#headings{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.links{
    color: #0075a3;
    text-align: center;
    font-size: x-large;
    display: inline-block;
    border: 1px solid #4aadff;
    border-radius: 5px;
    margin: 30px 5px;
    padding: 30px 30px 30px 30px;
    font-size: calc(max(12px, 1vw + 1vh)) !important;
}

#topLink{
    grid-column: 1 / 3;
    grid-row: 5 / 6;
}
