
.grid-container {
    display: grid;
    grid-template-columns: repeat(7,80px);
    grid-template-rows: repeat(3, 80px);
    border: 4px solid #009fdc;
    border-radius: 20px;
    grid-row: 1 /8;
    grid-column: 1/ 10;
}

#unlogo {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

}
 
#uncrpg12 {
    width: 100%;
    float: left; 
}

#greeng12{
    width: 100%;
    float: right;
}

#unlogo4{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
}

#unlogo5{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;
}

#unlogo6{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 10;
    grid-row-end: 11;
}

#grid-contents-maincontent{
    display: grid; 
    grid-template-columns: 4; 
    grid-template-rows: 2;
    border: 4px solid #009fdc;
    border-radius: 20px;
    grid-column: 3 / 8;
    grid-row: 1/6   ;
    gap: 10px;
    min-width: fit-content;
}

#articlelinks{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
}

#backtotop{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
}

#title{
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 2;
}

#Overview {
    float: left;
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 3;
}

#unlogoc{
    max-width: 100%;
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: right;
}

#head1{
    
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 5;
}
#head2{
    float: right;
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 5;
    grid-row-end: 6;
}

#unlogo3{
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 6;
    grid-row-end: 8;
}

#head3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;
}

 #Scroll{
    background-color: #528da8;
    border: 2px solid #4aadff;
    border-radius: 5px;
    margin-top: 80px;
    width: 75%;
    height: 100px;
    overflow-y: auto;
    padding: 20px 20px 10px 20px;
} 

.articlelinks{
    color: #0075a3;
    text-align: center;
    font-size: x-large;
    display: inline-block;
    border: 1px solid #4aadff;
    border-radius: 5px;
    margin: 30px 15px;
    padding: 30px 5px;
    font-size: calc(max(12px, 1vw + 1vh));
    
}

.subheadinglinkstop{
    color: #0075a3;
    text-align: center;
    font-size: x-large;
    padding: 30px 30px 30px 30px;
    display: inline-block;
    border: 1px solid #4aadff;
    border-radius: 5px;
    margin: 30px 15px;
    padding: 30px;
}

#consumptionvideo{
    width: 100%;
    margin: 300px 0px 100px 0px;
    padding: 0px;
}