@font-face {
    font-family: 'roboto';
    src: url(../font/roboto/Roboto-Regular.ttf);
}

html{
    font-family: 'roboto', sans-serif;
    color: #0A1131;
    
}

/* goal overview section */


#mainSection{
    grid-column: 2 / 8;
    grid-row: 1 / 2;
    color: #0A1131;
    margin: auto;
    
    


}

p{
    padding: 5px 7px 5px 7px;
}

#reportImage{
    width: 60%;
    border: 2px solid #0A1131;
    border-radius: 5px; 
    float: right;

}

#video{
    grid-column: 2 / 4;
    grid row: 3 / 5;
}

#goalTargets{
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    
}

#scroll{
   
    background-color:aliceblue;
    border: 2px solid #4aadff;
    border-radius: 5px;
    margin-top: 20px;
    width: 100%;
    height: 350px;
    overflow-y: auto;
    
}

#scroll li{
    padding: 10px 10px 10px 10px;
}
    
    







