/* font */
@font-face {
    font-family: 'roboto';
    src: url(../font/roboto/Roboto-Regular.ttf);
}

html{
    font-family: 'roboto', sans-serif;
    color: #0A1131;
    
} 

/* Image Section on Left Side */

#goalImages{
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    grid-template-rows: auto;
    grid-column: 1 / 3;
    grid-row: 1 / 6;
}

.goalImg, .goalVideo{
    width: 100%;
}

.goalVideo{
    border: 2px solid #009FDC;
}

.goalVideo:fullscreen{
    border: none;
}



/* Center Text Section */

#mainPara{
grid-column: 3 / 8;
grid-row: 4 / 6;
padding: 0px;
}

#mainPara h1, #mainPara h2{
    margin: 30px 0px 10px 10px;
}

#mainPara p{
    margin: 0px 0px 10px 20px;
    padding: 0px 10px 10px 0px;
    font-size: 18px;
}

#mainPara #outro{
    margin: 30px 0px 0px 10px;
}



/* Center Image Section */

#testPara{
    grid-column: 3 / 8;
    grid-row: 1 / 4;
    padding: 10px 20px 10px 10px;
    font-size: x-large;
}
