html{
    font-size: large;
    display: grid;
}


#teamSection{
    grid-column: 1 / 8;
    grid-row: 1 / 6;
    
    
    
    
    
} /* styling for main section of the page */

#teamTitle{
    text-align: center;
}

.names{
    padding: 5px 5px 5px 5px;
    
}

#teamOverview{
    text-align: center;
}

.members{
    border: 2px solid #009FDC;
    border-radius: 5px;
    padding: 50px 50px 50px 50px;
    margin: 30px 30px 30px 30px;
    display: grid;
    grid-auto-flow: column;
    gap: 5%
    

    
    

}

#bannerContainer{
    display: flex;
    border: 3px solid #009FDC;
    border-radius: 5px;
    padding: 20px 20px 20px 20px;
}

#banner{
    width: 100%;
    margin: auto;


}







