<!DOCTYPE html>
<html lang="en" id="homepage">
  <head>
    <%- include('../partials/head'); %>
  </head>

  <body>

    <header class="wrapper">
      <%- include('../partials/header'); %>
    </header>

    <main>

      <%- include('../partials/imgLinks'); %>

      <div id="goalImages"></div>

      <div id="text1"></div>

      <div id="testPara"></div>

      <div id="externalLinks"></div>

    </main>

    <footer></footer>

  </body>
</html>
