<!DOCTYPE html>
<html lang="en" id="homepage">
  <head>
    <%- include('../partials/head'); %>
    <script src="../Scripts/index.js"></script>
    <link rel="stylesheet" href="../CSS/index.css">
  </head>

  <body>

    <header>
      <%- include('../partials/header'); %>
    </header>

    <main>

      <%- include('../partials/imgLinks'); %>

      <div id="goalImages"></div>

      <div id="mainPara"></div>

      <div id="testPara"></div>

      <%- include('../partials/externalLinks'); %>

    </main>

    <footer></footer>

  </body>
</html>
