<!DOCTYPE html>
<html lang="en" id="signup">
  <head>
    <%- include('../partials/head'); %>
    <script src="../Scripts/signup.js"></script>
    <link rel="stylesheet" href="../CSS/signup.css">
  </head>

  <body>

    <header>
      <%- include('../partials/header'); %>
    </header>

    <main>

      <%- include('../partials/imgLinks'); %>

      <div id="mainPara"></div>

    </main>

    <footer></footer>

  </body>
</html>
