
<!DOCTYPE html>
<html lang="en" id="goal6">
  <head>
    <%- include('../partials/head'); %>
    <script src="../Scripts/goal6.js"></script>
    <link rel="stylesheet" href="../CSS/goal6.css">
  </head>

  <body>

    <header>
      <%- include('../partials/header'); %>
    </header>

    <main>

      <%- include('../partials/imgLinks'); %>

      <div id="mainSection"></div>

      <div id="goalTargets"></div>



      <%- include('../partials/externalLinks'); %>

    </main>

    <footer></footer>

  </body>
</html>
