<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
    <script src="../Scripts/goal12.js"></script>
    <link rel="stylesheet" href="../CSS/goal12.css">
  </head>

  <body>

    <header>
      <%- include('../partials/header'); %>
    </header>

          
    <main> 

          <div id="articlelinks">
          
          </div>

          <div id="grid-contents-maincontent">
            
          <div id="unlogoc"></div>
            
          <div id="head1"></div>
            
          <div id="head2"></div>
            
          <div id="unlogo3"></div>
            
          <!-- <div id="head3"></div> --> 
        
          </div>    

    <%- include('../partials/imgLinks'); %>

    <%- include('../partials/externalLinks'); %>

</main>

    <footer></footer>

  </body>
</html>
