<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="../CSS/goal13.css">

    <title>UN Sustainable Development Goals</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="UN Sustainable Development Goals">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <script src="../Scripts/goal13.js"></script>

</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>

        <%- include('../partials/imgLinks'); %>

            <div  id="description"></div>

            <div id="mainInfo"></div>

            <div id="headings"></div>

            <div id="stats"></div>

            <div id="top"></div>

            <div id="conclusion"></div> 
        </div>

        <%- include('../partials/externalLinks'); %>
    </main>

    <footer></footer>
    
</body>
</html>