<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <h1>Goal 13: Climate Action</h1>
    </header>
    <ul>
        <a id="inactive" href="./index">Home</a>
        <a id="inactive" href="./team">Team Info</a>
        <a id="inactive" href="./signup">Sign Up</a>
    </ul>
    <ul>
        <a id="inactive" href="./goal6">Goal 6</a>
        <a id="inactive" href="./goal12">Goal 12</a>
        <a id="inactive" href="./goal13">Goal 13</a>
    </ul>
</body>
</html>