<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="../CSS/goal13.css">
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <%- include('../partials/imgLinks'); %>

        <%- include('../partials/externalLinks'); %>
    </main>

    <footer></footer>
    
</body>
</html>