<!DOCTYPE html>
<html lang="en" id="homepage">
  <head>
    <%- include('../partials/head'); %>
    <script src="../Scripts/goal12.js"></script>
    <link rel="stylesheet" href="../CSS/goal12.css">
  </head>

  <body>

    <header>
      <%- include('../partials/header'); %>
    </header>


    <main>
        <div class="grid-contents-maincontent">
            <div id="unlogo2">
                <img src="../Media/uncrpg12.png" height="150px" alt="uncrp-logo">
            </div>
            <div id="head1">
                <h2> Consumption </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div id="head2">
                <h2> Production</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div id=unlogo3>
                <img src="../Media/greeng12.jpg" height="150px" alt="green">
            </div>
            <div id="head3">
                <h2>How the SAC plans to tackle these issues</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>    

    <%- include('../partials/imgLinks'); %>

    <%- include('../partials/externalLinks'); %>

</main>

    <footer></footer>

  </body>
</html>
