<!DOCTYPE html>
<html lang="en" id="goal6Page">
  <head>
    <%- include('../partials/head'); %>
    <script src="../Scripts/goal6.js"></script>
  </head>

  <body>

    <header>
      <%- include('../partials/header'); %>
    </header>

    <main>

      <%- include('../partials/imgLinks'); %>

      <div id="mainSection"></div>

      <div id="subheadings"></div>

      <div id="video"></div>

      <div id="topLink"></div>

      <%- include('../partials/externalLinks'); %>

    </main>

    <footer></footer>

  </body>
</html>
