<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="../Scripts/signup.js"></script>
    <link rel="stylesheet" href="../CSS/signup.css">
    <%- include('../partials/head'); %>
  </head>

  <body>

    <header>
      <%- include('../partials/header'); %>
    </header>

    <main>

      <%- include('../partials/imgLinks'); %>

      <div id="formPara"></div>

      <%- include('../partials/externalLinks'); %>

    </main>

    <footer></footer>

  </body>
</html>
