<!DOCTYPE html>
<html id="team">
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="../CSS/team.css">
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
</body>
</html>