<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>UN Sustanable Development Goals</title>
<link type="image/x-icon" rel="icon" href="../Media/favicon.ico">
<script src="../Scripts/main.js"></script>
<link rel="stylesheet" href="../main.css">
<meta name="description" content="UN Sustainable Development Goals">
<meta name="keywords" content="HTML, CSS, JavaScript">