
html{
    min-width: 560px;
}


/* Creating/Styling the Base Grid */

body div, footer{
    border: 4px solid #009FDC;
    border-radius: 20px;
    background-color: #ffffffb0;
    padding: 1em;
}

main{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 10px;
    grid-template-rows: auto;
}


/* Top/Header Section (Logo & Navigation)*/

header{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 10px;
    grid-template-rows: repeat(3, 1fr);
    grid-column: 1 / 10;
    grid-row: 1 / 2;
    max-height: 25vh;
    border: 4px solid #009FDC;
    border-radius: 20px;

}

    /* Logo */
    #logo{
        grid-column: 1 / 5;
        grid-row: 1 / 4;
        border: 0px;
    }

    #wideLogo{
        height: 100%;
    }

    #narrowLogo{
        min-height: 50%;
        max-height: 100%;
    }


    /* Navigation Menu */

    #homeNav, #teamNav, #signUpNav{
        text-align: center;
        font-size: medium;
        min-width: max-content;
    }
        #homeNav a, #teamNav a, #signUpNav a{
            text-decoration: none;
            color: #0075a3;
            padding: 5px;
        }

    #homeNav{
        grid-column: 6 / 7;
        grid-row: 2 / 3;
    }

    #teamNav{
        grid-column: 7 / 8;
        grid-row: 2 / 3;
    }

    #signUpNav{
        grid-column: 8 / 9;
        grid-row: 2 / 3;
    }

    #active:hover, #inactive:hover{
        color: #000;
        background-color: #009fdc80;
    }
    
    #active{
        border-bottom: #009FDC 5px solid;
        }



/* Clickable Image Section on Right Side */

.imageLinks{
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    grid-template-rows: auto;
    grid-column: 8 / 10;
    grid-row: 2 / 5;
}

    #imgLink1, #imgLink2, #imgLink3{
        margin: 0px;
        width: 100%;
    }

    #goal6, #goal12, #goal13{
        border: none;
        padding: 0px;
    }

    #imgLink1{
        grid-template-columns: 1 / 2;
        grid-template-rows: 1 / 2;
        border-radius: 20px;
    }

    #imgLink2{
        grid-template-columns: 1 / 2;
        grid-template-rows: 2 / 3;
        border-radius: 20px;
    }

    #imgLink3{
        grid-template-columns: 1 / 2;
        grid-template-rows: 3 / 4;
        border-radius: 20px;
    }



/* Bottom Center Section */

#mainPara{
    grid-column: 1 / 8;
    grid-row: 2 / 5;
    padding: 10px 20px 10px 10px;
    font-size: x-large;
}

form{
    display: flex;
}

fieldset{
    margin: auto 2%;
    width: 100%;
    border: 3px solid #7f869a;
    border-radius: 5px;
}

legend{
    padding: 5px;
    font-size: medium;
    word-spacing: 4px;
}

input, textarea{
    display: block;
    width: 95%;
    padding: 10px;
    margin: 0 5px;
    border: 1px solid dodgerblue;
}

label{
    display: block;
    width: 100%;
    margin: 1%;
}

#submitBtn{
    display: block;
    background-color: #009FDC;
    color: #fff;
    margin: 2% auto;
    padding: 6px 10px;
    font-weight: 700px;
    font-size: 16px;
    border: 2px solid #0075a3;
    min-width: 150px;
    border-radius: 10px;
    width: 10%;
}

#submitBtn:hover{
    background-color: #0075a3;
    color: #fff;
    cursor: pointer;
}

textarea{
    resize: none;
    min-height: 100px;
}

.myClass{
    color: dodgerblue;
}

#reqField{
    color: crimson;
    text-align: center;
}


/* Footer */

footer{
    grid-column: 1 / 10;
    grid-row: 5 / 6;
    text-align: center;
    color: #0075a3;
    font-size: large;
    margin: 10px 0px;
}

