<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <script src="../Scripts/goal13.js"></script>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>

        <%- include('../partials/imgLinks'); %>

            <div  id="description"></div>

            <div id="mainInfo"></div>

            <div id="headings"></div>

            <div id="stats"></div>

            <div id="topLink"></div>

            <div id="conclusion"></div> 
        </div>

        <%- include('../partials/externalLinks'); %>
    </main>

    <footer></footer>
    
</body>
</html>